.card {
  display: flex;
  flex-direction: column;
  max-height: 380px;
  gap: 2rem;
  width: 100%;
  padding: 24px;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  background: transparent;
  border: 1px solid var(--foreground-hex);
  transition-property: border-color, background;
  transition-duration: 0.15s;
  color: var(--foreground-hex) !important;
}

.card:hover {
  border: 1px solid var(--foreground-hex-intense);
  background: hsla(0, 0%, 100%, 0.02);
}
