.main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.fixedHeader {
  position: fixed;
  left: 0;
  top: 0;
  margin: 2rem;
  font-weight: bold;
  color: var(--foreground-hex-intense);
}

.fixedFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 2rem;
  font-size: 0.9rem;
  color: var(--foreground-hex-intense);
}

.helloWorld {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 64rem;
  min-height: 100vh;
  padding-left: 6rem;
  padding-right: 20rem;
  gap: 4rem;
}

.dIContainerR {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.dIContainerL {
  display: flex;
  flex-direction: row;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.bigText {
  font-size: 5rem;
  line-height: 90%;
  letter-spacing: -2px;
  font-weight: 900;
  padding-bottom: 20rem;
}

.mdxWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 64rem;
  min-height: 100vh;
  padding: 6rem;
  padding-right: 20rem;
  gap: 2rem;
}

.linkList {
  display: flex;
  flex-direction: column;
}
