.main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.fixedFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 2rem;
  font-size: 0.9rem;
  color: var(--foreground-hex-intense);
}

.mdxWrapper,
.mdxWrapperContent,
.fullHeightContainer {
  display: flex;
  flex-direction: column;
  max-width: 540px;
  margin: 10rem auto;
  gap: 2rem;
}

.mdxWrapperContent {
  width: 100%;
  margin: auto;
  margin-bottom: 10rem;
}

.fullHeightContainer {
  gap: 4rem;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.bigText {
  font-size: 5rem;
  line-height: 0.9;
  letter-spacing: -2px;
  font-weight: 900;
  color: var(--foreground-hex-intense);
}

.linkList {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.linkBlue,
.linkBlue:hover {
  color: var(--primary-hex);
  text-decoration: none;
}

.linkBtn {
  color: var(--foreground-hex-intense);
  border: 2px solid var(--foreground-hex-intense);
  border-radius: var(--border-radius);
  padding: 12px;
  text-align: center;
}

.linkBtn:hover {
  border: 2px solid var(--primary-hex);
}

@media only screen and (max-width: 720px) {
  .mdxWrapper,
  .mdxWrapperContent,
  .fullHeightContainer {
    width: 100%;
    padding: 2rem;
  }

  .bigText {
    font-size: 4rem;
  }

  .fixedFooter {
    position: unset;
  }
}
