.main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.fixedHeader {
  position: fixed;
  left: 0;
  top: 0;
  margin: 2rem;
}

.fixedFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 2rem;
  font-size: 0.9rem;
  color: var(--foreground-hex-intense);
}

.mdxWrapper,
.mdxWrapperContent,
.fullHeightContainer,
.fullHeightContainer70 {
  display: flex;
  flex-direction: column;
  width: 75%;
  min-height: 100vh;
  padding: 10rem 15%;
  gap: 2rem;
}

.mdxWrapperContent {
  width: 100%;
  padding: 10rem 25%;
}

.fullHeightContainer70 {
  min-height: unset;
  gap: 4rem;
}

.fullHeightContainer {
  justify-content: center;
  padding: 10rem 25%;
  width: 100vw;
  gap: 4rem;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.bigText {
  font-size: 5rem;
  line-height: 0.9;
  letter-spacing: -2px;
  font-weight: 900;
  color: var(--foreground-hex-intense);
}

.linkList {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 720px) {
  .mdxWrapper,
  .mdxWrapperContent,
  .fullHeightContainer,
  .fullHeightContainer70 {
    width: 100%;
    min-height: 100vh;
    padding: 10rem 2rem;
  }

  .bigText {
    font-size: 4rem;
  }

  .fixedHeader {
    position: fixed;
    display: flex;
    margin: 0;
    padding: 1.5rem 2rem;
    width: 100%;
    background-color: var(--header);
    backdrop-filter: saturate(180%) blur(20px);
    box-shadow: 2px 0px 15px #23262622;
  }

  .fixedFooter {
    position: unset;
  }
}
