.headingRoot {
  font-family: var(--font-exo-eb);
  font-size: 4em;
  color: white;
  margin: 0;
  padding: 0;
  line-height: 1;
  letter-spacing: -0.025em !important;
}

@media (max-width: 768px) {
  .headingRoot {
    font-size: 4em;
  }
}
