.progressWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.progress {
  position: fixed;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  margin: 2rem;
  padding: 0;
}

.progress svg {
  transform: rotate(-90deg);
}

circle {
  stroke-dashoffset: 0;
  stroke-width: 5%;
  fill: none;
}

.bg {
  stroke: var(--foreground-hex-intense);
  opacity: 0.2;
}

.progress .indicator {
  stroke: var(--foreground-hex-intense);
}
