.container {
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.main {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: row;
    color: #d0dbec;
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Helvetica Neue', sans-serif;
}

.intro {
    margin: 3rem 0;
    font-size: 1rem;
    line-height: 150%;
}

.socialIcons,
.socialIconsMobile {
    position: fixed;
    bottom: 4rem;
    left: 1rem;
    z-index: 10;
    display: flex;
    flex-direction: column;
    /* background: #8193b2; */
    background: #d0dbec;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.socialIcons a,
.socialIconsMobile a {
    margin: 0.6rem 0rem;
    display: flex;
    align-items: center;
    background: -webkit-linear-gradient(-70deg, #a2facf, #64acff);
    transition-duration: 1s;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.socialIconsMobile {
    display: none;
}

a .socialIconsText {
    margin-left: 1rem;
    display: none;
    font-weight: bold;
}

a:hover .socialIconsText {
    display: flex;
}

@media (max-width: 768px) {
    .main {
        padding: 1rem 0rem;
        flex-direction: column;
    }

    .socialIcons,
    .socialIconsMobile {
        display: none;
        position: unset;
        padding-top: 2rem;
    }

    .socialIconsMobile {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 2rem 0;
    }

    .intro {
        font-size: 0.875rem;
    }
}
